@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* line 1, ../sass/_navigation.scss */
.the-main-nav .menu {
  list-style: none;
  float: right;
}
/* line 6, ../sass/_navigation.scss */
.the-main-nav .menu li {
  display: inline-block;
  position: relative;
}
/* line 11, ../sass/_navigation.scss */
.the-main-nav .menu li:after {
  content: "";
  padding-right: 2em;
}
/* line 18, ../sass/_navigation.scss */
.the-main-nav .menu li:last-child:after {
  content: "";
  padding-right: 0;
}
/* line 25, ../sass/_navigation.scss */
.the-main-nav .menu li .sub-menu {
  display: none;
}
/* line 31, ../sass/_navigation.scss */
.the-main-nav .menu li:hover .sub-menu {
  display: block;
}
/* line 37, ../sass/_navigation.scss */
.the-main-nav .menu li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 22px;
}
/* line 45, ../sass/_navigation.scss */
.the-main-nav .menu li a:hover {
  color: #1fa3fc;
}

/* line 60, ../sass/_navigation.scss */
.sub-menu {
  position: absolute;
  z-index: 999;
  margin: 0;
  background: #4C535D;
  padding: 1em;
  clear: both;
  float: left;
  min-width: 10em;
  right: 0;
}
/* line 73, ../sass/_navigation.scss */
.sub-menu li {
  display: block !important;
  text-align: right;
}
/* line 79, ../sass/_navigation.scss */
.sub-menu li:after {
  padding-right: 0 !important;
}

/* line 95, ../sass/_navigation.scss */
.the-main-nav {
  padding: 2.7em 0;
}

/* line 105, ../sass/_navigation.scss */
.footer-nav {
  font-weight: 400;
  background: #4c535d;
  padding: 1em 0;
}
/* line 111, ../sass/_navigation.scss */
.footer-nav .sub-menu {
  display: none;
}
/* line 117, ../sass/_navigation.scss */
.footer-nav ul {
  list-style: none;
  margin: 0;
}
/* line 122, ../sass/_navigation.scss */
.footer-nav ul li {
  display: inline;
}
/* line 126, ../sass/_navigation.scss */
.footer-nav ul li:after {
  content: "";
}
/* line 135, ../sass/_navigation.scss */
.footer-nav ul li:first-child a:before {
  padding-left: -1em;
}
/* line 143, ../sass/_navigation.scss */
.footer-nav ul li a {
  color: black;
}
/* line 149, ../sass/_navigation.scss */
.footer-nav ul li a:after {
  content: "";
  padding-right: 1em;
}
/* line 157, ../sass/_navigation.scss */
.footer-nav ul li a:hover {
  color: #1fa3fc;
}

/* line 1, ../sass/_barrel-price.scss */
.barrel-wrapper {
  background: #f9f9f9;
  float: left;
}

/* line 9, ../sass/_barrel-price.scss */
.second-bar p, .second-bar a {
  font-size: 12px;
}

/* line 16, ../sass/_barrel-price.scss */
.second-bar table {
  margin-bottom: 0;
  background: #F9F9F9;
  border: none !important;
}

/* line 24, ../sass/_barrel-price.scss */
.second-bar td {
  border: none !important;
}

/* line 31, ../sass/_barrel-price.scss */
.barrel-label {
  min-width: 160px;
  float: left;
  color: #f9f9f9;
  background: gray;
  max-height: 40px;
  padding: .7em;
}

/* line 42, ../sass/_barrel-price.scss */
table a {
  display: none;
}

/* line 46, ../sass/_barrel-price.scss */
table {
  border: 0px !important;
  background-color: transparent !important;
}

/* line 51, ../sass/_barrel-price.scss */
table tbody tr td table tbody tr:first-child {
  display: none;
}

/* line 55, ../sass/_barrel-price.scss */
table tbody tr td table tbody tr:nth-child(2) span {
  color: #777 !important;
  background-color: #F9F9F9 !important;
}

/* line 60, ../sass/_barrel-price.scss */
table tbody tr td table tbody tr:last-child {
  display: none;
}

/* line 64, ../sass/_barrel-price.scss */
table tbody tr:last-child {
  display: none;
}

/* line 8, ../sass/main.scss */
html {
  height: 100%;
}

/* line 12, ../sass/main.scss */
body {
  font-family: Helvetica;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  position: relative;
  padding-bottom: 4rem;
  min-height: 100%;
}

/* line 25, ../sass/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

/* line 31, ../sass/main.scss */
p, a {
  font-weight: 100;
}

/* line 44, ../sass/main.scss */
.site-header {
  background: url("../theme-images/concrete-texture.jpg") repeat;
  z-index: 999;
  width: 100%;
  top: 0px;
  min-height: 150px;
  border-bottom: 3px solid #353535;
}

/* line 57, ../sass/main.scss */
.logo {
  padding: 1em 0;
}
/* line 61, ../sass/main.scss */
.logo img {
  width: 70%;
}

/* line 69, ../sass/main.scss */
.second-bar {
  background: url("../theme-images/felt-pattern.jpg") repeat;
  width: 100%;
  padding: .5em 0;
  border-top: 3px solid #353535;
}

/* line 80, ../sass/main.scss */
.site-content {
  margin: 9em auto 9em;
}

/* line 84, ../sass/main.scss */
.content-area, .widget-area {
  background: url("../theme-images/transparent-white.png") repeat;
  padding: 2em;
  border: 2px solid white;
}

/* line 106, ../sass/main.scss */
.widget-area h1 {
  font-size: 22px;
}

/* line 141, ../sass/main.scss */
.site-footer {
  background: url("../theme-images/felt-pattern.jpg") repeat;
  padding: 1.5em;
  border-top: 3px solid #353535;
  color: black;
}
/* line 148, ../sass/main.scss */
.site-footer p, .site-footer a {
  margin-bottom: 0;
  line-height: normal;
}
